/* .BudgetScreen .Card {
	width: 400px;
} */

.BudgetScreen .BudgetPerformanceCard {
	border: 1px solid black;
	background-color: white;
	margin: 50px auto;
	padding: 10px;
	font-size: larger;
}

@media screen and (max-width: 1000px) {
	.BudgetScreen .PerformanceCard {
		width: auto;
	}

	.BudgetScreen .BudgetPerformanceCard {
		width: auto;
	}
}
@media screen and (min-width: 1000px) {
	.BudgetScreen .PerformanceCard {
		width: 400px;
	}

	.BudgetScreen .BudgetPerformanceCard {
		width: 600px;
	}
}

.BudgetScreen p {
	margin: 0px;
	margin-top: 5px;
}

.BudgetScreen .CategoryName {
	font-size: 1.1rem;
	/* font-weight: 500; */
	font-weight: bold;
}

.BudgetScreen .Notes {
	margin-top: 30px;
}

.BudgetScreen ul {
	text-align: center;
}

.BudgetScreen .ResultGroup .CategoryName {
	display: block;
	width: fit-content;
	text-align: left;
}
.BudgetScreen .ResultGroup .CategoryTotal {
	display: block;
	width: fit-content;
	text-align: right;
}

.BudgetScreen .ResultGroupAndExplanation {
	padding: 5px;
}
.BudgetScreen .ResultGroupAndExplanation.TopBorder {
	border-top: 1px solid rgb(204, 190, 190);
}
.BudgetScreen .ResultGroupAndExplanation:hover {
	background-color: rgb(206, 193, 204);
	font-weight: bold;
}

.BudgetScreen .ResultGroupAndExplanation .NegativeExplanation {
	text-align: right;
	margin-top: 0px;
}
/* BudgetPerformanceCard */

.BudgetScreen .BudgetPerformanceCard .Warning {
	font-size: .8rem;
	font-style: italic;
}

/* BudgetResults */

.BudgetScreen .BudgetResults {
	margin-right: 10px;
}

.BudgetScreen .BudgetResults .ResultGroup {
	display: flex;
	justify-content: space-between;
}

.BudgetScreen .BudgetResults .ResultGroup:hover {
	background-color: rgb(206, 193, 204);
	font-weight: bold;
}
