.BudgetScreen .Card {
	width: 400px;
}

.BudgetScreen p {
	margin: 0px;
	margin-top: 5px;
}

.BudgetScreen .CategoryName {
	font-size: 1.1rem;
	/* font-weight: 500; */
	font-weight: bold;
}

.BudgetScreen .Notes {
margin-top: 30px;
}

.BudgetScreen ul {
	text-align: center;
}

.BudgetScreen .ResultGroup .CategoryName {
	display: block;
	width: 300px;
	min-width: fit-content;
	text-align: left;
}
.BudgetScreen .ResultGroup .CategoryTotal {
	display: block;
	width: 200px;
	text-align: right;
}

.BudgetScreen  .ResultGroupAndExplanation{
	padding:5px;
}
.BudgetScreen .ResultGroupAndExplanation.TopBorder{
	border-top: 1px solid rgb(204, 190, 190)
}
.BudgetScreen .ResultGroupAndExplanation:hover {
	background-color:rgb(206, 193, 204);
	font-weight: bold;
	
}

.BudgetScreen .ResultGroupAndExplanation .NegativeExplanation {
	text-align: right;
	margin-top: 0px;
}
/* BudgetPerformanceCard */

.BudgetScreen .BudgetPerformanceCard {
	border: 1px solid black;
	background-color: white;
	width: fit-content;
	margin: 50px auto;
	padding: 10px;
   font-size: larger;
}

.BudgetScreen .BudgetPerformanceCard .Warning {
	font-size: .8rem;
	font-style: italic;
}

/* BudgetResults */

.BudgetScreen .BudgetResults {
	margin-right: 10px;
}

.BudgetScreen .BudgetResults .ResultGroup {
	display: flex;
	justify-content: space-between;
}

.BudgetScreen .BudgetResults .ResultGroup:hover {
	background-color:rgb(206, 193, 204);
	font-weight: bold;
}