.CategoryCard .InputGroup label {
	min-width: 50px;
}

.CategoryDetail .InputGroup label {
	min-width: 150px;
}

.EditCategoryForm .InputGroup label {
	min-width: 125px;
}

.NewCategoryScreen .InputGroup label {
	min-width: 125px;
}
