.ButtonGroup .CustomButton {
	margin: 5px 3px;
}

.CustomButton {
	background-color: rgb(39, 39, 179);
	color: whitesmoke;
	padding: 4px 10px;
	font-weight: bold;
	border: none;
	border-radius: 4px;
}
.CustomButton:hover {
	color: gold;
	transition: all 150ms linear;
}
