.ButtonGroup .CustomButton {
	margin: 5px 3px;
}

.CustomButton {
	background-color: rgb(40, 40, 180);
	color: whitesmoke;
	padding: 4px 10px;
	font-weight: bold;
	border-radius: 4px;
	border: 1px solid rgb(40, 40, 180);
}

.CustomButton:hover {
	color: rgb(40, 40, 180);
	background-color: rgb(225, 250, 255);
	transition: all 150ms linear;
}

.CustomButton.Add:hover {
	color: white;
	background-color: green;
	border: 1px solid darkgreen;
}

.CustomButton.Danger:hover {
	color: white;
	background-color: red;
	border: 1px solid darkred;
}

.CustomButton.Warning:hover {
	color: white;
	background-color: orange;
	border: 1px solid darkorange;
}

.ModalButton {
	display: inline-block;
}
