.MealPeriodCatsInputForm {
	border-bottom: 1px solid black;
	justify-content: space-around;
}

.MealPeriodCatsGroup .GroupContainer {
	margin-top: 10px;
}

.MealPeriodCatsInputForm .InputGroup {
	height: 26px;
	width: 100%;
	/* border-color: unset; */
	justify-content: space-around;
	margin-top: 0px;
	padding-top: 3px;
}


.MealPeriodCatsInputForm .InputGroup input {
	width: 75px;
	text-align: right;
	background-color: white;
	transition: background-color 2000ms linear;
	margin-right: 5px;
}
.MealPeriodCatsInputForm .InputGroup input.UnsavedSale {
	background-color: rgb(255, 255, 151);
	transition: all 250ms linear;
}
.MealPeriodCatsInputForm .InputGroup input.SavedSale {
	background-color: rgb(154, 230, 154);
	transition: all 0ms linear;
}

.MealPeriodCatsGroup {
    border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.MealPeriodCatsGroup .Total {
	font-size: 1.1rem;
	text-align: right;
	padding-right: 5px;
	background-color: rgb(255, 235, 100);
	padding-top: 5px;
	padding-bottom: 5px;
}

.AllMealPeriodCatsScreen .MealPeriodName {
	margin-left: 5px;
	margin-right: 5px;
}

.CategoryColumn {
	border: 1px solid black;
}

.AllMealPeriodCatsScreen .AllContainer {
	background-color: white;
	display: flex;
	margin-top: 15px;
}

.AllMealPeriodCatsScreen .CategoryColumn ul.IgnoreList {
	margin-bottom: 0px;
}

.AllMealPeriodCatsScreen .CategoryColumn li {
	padding-top: 5px;
	margin-right: 5px;
	font-size: 1.1rem;
	width: 100%;
	height: 27px;
	border-bottom: 1px solid black;
	font-weight: bold;
	padding-left: 5px;
}
.AllMealPeriodCatsScreen .First {
	border-top: 1px solid black;
	background-color: rgb(240, 240, 240);
}
.AllMealPeriodCatsScreen .Even {
	background-color: rgb(240, 240, 240);
}
.AllMealPeriodCatsScreen .CategoryColumn li.TotalHeader {
	border-bottom: none;
	height: auto;
	padding-bottom: 5px;
	background-color: gold;
}
.AllMealPeriodCatsScreen input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
