.AllInvoicesScreen option {
	text-align: center;
}

.AllInvoicesForm input {
	float: left;
}

.InvoiceCard .HeadingContainer {
	margin-left: 0px;
}

.InvoiceCard .InputGroup label {
	min-width: 60px;
}

.InvoiceCard .InputGroup .Notes {
	margin-left: 5px;
}

.NewInvoiceForm {
	margin-top: 10px;
}

.AllInvoicesForm .InputGroup .Vendor {
	width: 250px;
}

.InvoiceCard {
	width: 350px;
	min-width: unset;
	height: 200px;
}
