.AllInvoicesScreen option {
	text-align: center;
}

.AllInvoicesForm input {
	float: left;
}

.InvoiceCard .HeadingContainer {
	margin-left: 0px;
}

.InvoiceCard .HeadingContainer .InputGroup label {
	min-width: 60px;
}
.InvoiceCard .Expenses .InputGroup label {
	width: 275px;
	text-align: left;
}
.InvoiceCard .Expenses .InputGroup span {
	width: 75px;
	text-align: right;
}

.InvoiceCard .Expenses .InputGroup:hover {
	background-color: rgb(206, 193, 204);
}

.InvoiceCard .InputGroup .Notes {
	margin-left: 5px;
}
.InvoiceCard p.Notes {
	margin-top: 0px;
}

.InvoiceDetail .TableTitleText.Notes {
	margin-top: 0px;
}

.NewInvoiceForm {
	margin-top: 10px;
}

.AllInvoicesForm .InputGroup .Vendor {
	width: 250px;
}

.InvoiceCard {
	width: 350px;
	min-width: unset;
	height: 200px;
}

/* .InvoiceDetail .Section.Card.Notes{
	width:100%;
} */

.InvoiceDetail .InvoiceNotes {
	margin: 5px auto;
	border: 1px solid black;
	padding: 10px;
	width: 80vw;
	background-color: white;
	text-align: left;
}

.InvoiceExpensesAndNotes {
	width: 80vw;
	min-width: 900px;
	border: 1px solid black;
	background-color: white;
	padding: 10px;
}

.InvoiceDetail .NotesContainer {
	margin: 5px 8px;
}

.InvoiceDetail .InvoiceHeadingContainer {
	display: flex;
	justify-content: space-between;
	margin: 20px 5px;
	margin-bottom: 10px;
	font-size: larger;
}
