/* https://www.w3schools.com/Css/css_navbar_horizontal.asp */

.Nav {
	position: sticky;
	top: 0;
}

.Nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: darkblue;
	border-bottom: 1px solid darkblue;
	border-top: 1px solid darkblue;
}

.Nav li {
	float: left;
}

.Nav a {
	color: whitesmoke;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}

.Nav a.active {
	font-weight: bold;
	background-color: rgb(39, 39, 179);
	color: gold;
}

.Home a {
	font-weight: bold;
	color: gold;
}

.ActiveRestaurant a {
	font-weight: bold;
	color: gold;
}

.Nav a:hover {
	/* background-color:rgb(39, 39, 179); */
	background-color: rgb(118, 81, 177);
	color: gold;
}
