.Window {
	/* background-color: whitesmoke; */
	/* height: 100vh */
}

.Screen {
	width: fit-content;
	padding: 25px;
	padding-bottom: 50px;
	margin: auto;
}

.Screen.Full {
	width: 100%;
}

.ScreenTitle {
	font-size: 2.0rem;
	margin: 5px 0px;
	font-weight: bold;
}

.Screen .HeadingContainer {
	width: fit-content;
	margin: auto;
	margin-top: 15px;
	padding-bottom: 10px;
}

.Section {
	margin: 20px 0px;
	width: fit-content;
}

.Section.Centered {
	margin: 20px auto;
}

.Section.Full {
	width: 100%;
}

.SectionTitle1 {
	font-size: 1.25rem;
	text-align: left;
	margin: 0px;
	margin-bottom: 10px;
	font-weight: bold;
	text-decoration: underline;
}

.SectionTitle2 {
	font-size: 1.25rem;
	margin: 0px;
	margin-bottom: 10px;
	font-weight: bold;
}

.SectionTitle3 {
	font-size: 1.05rem;
	margin: 0px;
	margin-bottom: 5px;
	font-weight: bold;
	text-decoration: underline;
}

.SectionTitle4 {
	font-size: 1.05rem;
	text-align: left;
	margin: 0px;
	margin-bottom: 5px;
	text-decoration: underline;
}

.MarinTop10px {
	margin-top: 10px;
}

.InputGroup {
	margin: 3px 2px;
	display: flex;
}

.InputGroup label {
	width: auto;
	min-width: 85px;
	font-weight: bold;
	margin-right: 5px;
	text-align: right;
}

.InputGroup input.Centered {
	text-align: center;
}

.CardsContainer {
	margin: 10px;
	display: flex;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
}

.Card {
	border: 1px solid black;
	background-color: white;
	width: min-content;
	min-width: 400px;
	margin: 5px;
	padding: 10px;
	overflow: auto;
}

.Card.Stacked {
	width: 90%;
}

.Card .Title {
	font-size: 1.25rem;
	margin: 5px 0px;
	font-weight: bold;
}

.Hover:hover {
	transition: background-color 250ms linear;
	background-color: rgb(225, 250, 255);
}

.Negative {
	color: red;
	font-weight: 500;
	font-style: italic;
}

.Notes {
	font-size: 0.9rem;
	margin: 0px;
	font-style: italic;
}

ul.IgnoreList {
	list-style-type: none;
	margin: 10px 0px;
	padding: 0px;
	text-align: left;
}
