/* EditRestaurantForm */

.EditRestaurantForm .InputGroup label {
	min-width: 150px;
}

/* NewRestaurantForm */

.NewRestaurantForm .InputGroup label {
	min-width: 135px;
}

/* RestaurantCard */

.RestaurantCard .Notes {
	font-size: unset;
}


/* RestaurantDetail */

.RestaurantDetail .ActionButtonsGroup button {
	width: 250px;
	margin: 5px auto;
	font-size: large;
	display: block;
}

.RestaurantDetail .InputGroup label {
	min-width: 150px;
}

.RestaurantDetail .Notes {
	text-align: left;
	margin: 15px 5px;
}

/* RestaurantUserCard */

.RestaurantUserCard.Card {
	width: 250px;
	min-width: 250px;
}

