.PageTitle {
	font-size: 1.25rem;
	margin: 5px 0px;
	font-weight: bold;
}

.SectionTitle {
    font-size: 1.05rem;
	margin: 0px;
	margin-top: 10px;
	text-decoration: underline;
}

.Notes {
    font-size: 0.9rem;
	margin: 0px;
	font-style: italic;
}

.RestaurantDetail{
    width:fit-content;
    border: solid 1px black;
    margin: 25px auto;
	padding: 25px;
}

.RestaurantDetail ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}