/* .RestaurantDetail {
	margin: 25px auto;
} */

.RestaurantDetail .ActionButtonsGroup button {
	width: 250px;
	margin: 5px auto;
	font-size: large;
	display: block;
}

.RestaurantDetail {
	margin-top: 25px;
}

.FullFormContainer {
	border: 1px solid black;
	background-color: white;
	margin: 25px;
	padding: 25px;
	padding-top: 15px;
}

.RestaurantDetail .InputGroup label {
	min-width: 150px;
}

.EditRestaurantForm .InputGroup label {
	min-width: 150px;
}
