/* AllSalesScreen */

.AllSalesScreen .MealPeriodCards {
	margin: 0 5px;
	padding: 5px;
	display: flex;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
}

.AllSalesScreen .Expected {
	width: 175px;
}

.AllSalesScreen .Actual {
	width: 175px;
}

/* SalesGroup */

.SalesGroup .TotalsContainer {
	width: max-content;
	display: flex;
	justify-content: space-around;
}

.SalesGroup .TotalsContainer .Placeholder1 {
	width: 100px;
	text-align: left;
	margin: 2px 5px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 1.05rem;
}

.SalesGroup .TotalsContainer .Placeholder2 {
	float: left;
	width: 50px;
	text-align: right;
	margin: 2px 5px;
	margin-right: 10px;
	display: inline;
}

.SalesGroup .TotalsContainer .ResultsContainer {
	display: flex;
}

.SalesGroup .TotalsContainer .ResultsContainer .Result {
	float: left;
	text-align: right;
	margin: 2px 5px;
	display: inline;
}

.SalesGroup .TotalsContainer .ResultsContainer .Result .ResultFigure {
	width: 77px;
	display: inline-block;
	font-style: italic;
	border-bottom: 1px solid black;
	padding: 0px 3px;
}

/* SalesInputForm */

.SalesInputForm {
	width: max-content;
	display: flex;
	justify-content: space-around;
}

.SalesInputForm.TopBorder {
	border-top: 1px solid lightgrey;
}

.SalesInputForm span {
	width: 200px;
	text-align: left;
	margin: 2px 5px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 1.05rem;
}

.SalesInputForm .SaleInput {
	float: left;
	text-align: right;
	margin: 2px 5px;
	display: inline;
}

.SalesInputForm .SaleInput input {
	width: 75px;
	text-align: right;
	background-color: white;
	transition: background-color 2000ms linear;
	margin-right: 5px;
}

.SalesInputForm .SaleInput input.Unsaved {
	background-color: rgb(255, 255, 151);
	transition: all 250ms linear;
}
.SalesInputForm .SaleInput input.Saved {
	background-color: rgb(154, 230, 154);
	transition: all 0ms linear;
}
.SalesInputForm .SaleInput input.Missing {
	background-color: rgb(255, 179, 179);
	transition: all 0ms linear;
}

.SalesInputForm .SaleInput input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
